*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}

.boxes{
    height:  150px;
    width: 150px;
    border: 1px solid beige;
    background-color: #000;
    box-shadow: 0 0 20px 1px white;
    color: beige;
    display: inline-block;
    overflow: hidden;
    padding: 30px;
    font-size: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.boxes:hover{
    background-color: rgb(5, 39, 39);
}
.main{
   width: 60vw;
   display: inline-block;
   transform: translate(20%,16%);
}
#top1{
    border-top: none;
    border-left: none;
}
#top2{
    border-top: none;

}
#top3{
    border-top: none;
    border-right: none;
}
#mid1{
    border-left: none;
}
#mid3{
    border-right: none;
}
#bottom1{
    border-bottom: none;
    border-left: none;
}
#bottom2{
    border-bottom: none;

}
#bottom3{
    border-bottom: none;
    border-right: none;
}
#result{
    display: inline-block;
    /* border: 1px solid white; */
    width: 400px;
    height: 200px;
    position: relative;
    /* left: 405px; */
    /* bottom: 320px; */
    text-align: left;
    font-size: 120px;
    color: beige;
    font-weight: bolder;
}
#result2{
    display: inline-block;
    width: 450px;
    height: 90px;
    /* border: 1px solid white; */
    position: relative;
    left: -10px;
    /* bottom: 550px; */
    font-size: 65px;
    font-weight: bolder;
    color: beige;
}
.box{
    /* border: 1px solid white; */
    position: relative;
    right: 1%;
    display: inline-block;
}
.btn{
    height: 55px;
    width: 200px;
    font-size: 30px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 1px white;
    color: beige;
    background-color: transparent;
    position: relative;
    /* left: 670px; */
    /* bottom: 250px; */
    transition: 0.8s ease;
}
.btn:hover{
    transition: 0.5s ease;
    background-color: beige;
    color: #000;
}
.head{
    color: beige;
    font-size: 55px;
    width: 100vw;
    height: 100px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 1px solid white;    */
}
.headSec{
    height: 100vh;
    width: 100vw;
}
.resBox{
    height: 450px;
    width: 400px;
    /* background-color: #fff; */
    position: absolute;
    top: 21%;
    right: 5%;
    display: flex;
    flex-direction: column;
    
}